#app-title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    font-size: 32px;
    font-weight: bold;
}

.nav-bar-item {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    font-size: 18px;
    font-weight: bold;
    cursor: hand;
}

.nav-item-clicked {
    -fx-border-color: black black transparent black;
    -fx-border-width: 2 2 0 2;
    border-color: black black transparent black;
    border-width: 2 2 0 2;
}

#student-info {
    -fx-font-size: 20px;
    font-size: 20px;
}

.info-container {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 1;
    -fx-border-style: solid;
    -fx-font-size: 20px;
    border-color: black;
    border-width: 2;
    border-radius: 1;
    border-style: solid;
    font-size: 20px;
}

.info-label {
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0 0 1 0;
    -fx-font-weight: bold;
    border-color: transparent transparent black transparent;
    border-width: 0 0 1 0;
    font-weight: bold;
}

#gen-ed-info-page,
.gen-ed-label {
    -fx-font-size: 20px;
    font-size: 20px;
}

#gen-ed-info-page {
    -fx-font-weight: bold;
    font-weight: bold;
}

.requirements-label {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-underline: true;
    font-weight: bold;
    font-size: 20px;
}

.elective-group {
    -fx-font-size: 16px;
    font-size: 16px;
}

.italic-text {
    -fx-font-style: italic;
    font-style: italic;
}